name: kwaze_kreyol_games
description: "Jeux Kwazé Kréyol - Plateforme de jeux en créole martiniquais"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.4.0
  path: ^1.9.0
  path_provider: ^2.1.2
  shared_preferences: ^2.5.3
  go_router: ^16.0.0
  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/icons/
    - assets/images/
    - assets/data/
